/* .container {
    height: 100vh;
  }
  
  .card {
    border-radius: 15px;
  } */
  



/* .google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  background-color: white;
  border: 1px solid #4285f4;
  color: #4285f4;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
} */

/* .google-btn:hover {
  background-color: #f1f1f1;
}

.google-btn img {
  margin-right: 10px;
} */
