<div class="container-fluid">

  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid d-flex justify-content-between">
      
    
      <div class="align-items-center">
        <img src="../../assets/public/download.jpeg" alt="Logo" class="img-fluid" style="height: 50px;">
      </div>
  

      <div class="d-flex justify-content-center flex-grow-1">
        <a class="navbar-brand fs-1" >Dashboard</a>
      </div>
  
      
      <div class="d-flex align-items-center">
      
        <a class="navbar-brand fs-5 me-3">{{ userName }}</a>
  
        <button class="btn btn-outline-danger me-3" (click)="logout()">Sign Out</button>
  
       
      </div>
    </div>
  </nav> -->
  <app-header></app-header>
  <div class="container-fluid mt-3">
    <div class="d-flex justify-content-end">
      <button class="btn btn-primary me-2" (click)="addExam()">Add</button>
    </div>
  </div>
  <div class="container mt-4">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let exam of formData; index as i;">
          <td>{{ exam.FirstName }}</td>
          <td>
            <button class="btn btn-info" (click)="showExam(exam,i)">Show</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
